h1 {
  font-family: calibre-semibold;
  font-size: 80px;
  letter-spacing: 2px;
  color: var(--lightest-slate);
  margin: 15px 0 10px 0;
}

h2 {
  font-family: sfmono;
  font-size: 16px;
  color: var(--green);
  padding: 0 0 10px 4px;
  margin: 0;
}

p.personal-statement {
  line-height: 80px;
  font-size: 80px;
  font-family: calibre-semibold;
  color: var(--slate);
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 30px;
}

p.personal-description {
  width: 60%;
  color: var(--slate);
  font-size: 20px;
}
